* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-image: url(images/istanbulBackground.jpg);
    background-attachment: fixed;
    background-size: 100% auto;
    font-family: 'Caveat Brush';
}

container {
    display: block;
    width: 900px;
    overflow: auto;
    margin: 30px auto 0 auto;
    opacity: 0.9;
}

header {
    background-color: red;
    background-image: url("images/snackTimeLogo.png");
    background-repeat: no-repeat;
    background-size: 210px;
    float: left;
    clear: none;
    height: 200px;
    width: 900px;
}

.titel_header {
    font-size:72px;
    color: rgba(237, 245, 0, 1);
    font-family: 'Caveat Brush';
}

aside {
    background-color: blue;
    float: left;
    clear: none;
    height: 600px;
    width: 200px;
}

content {
    background-color: green;
    float: left;
    clear: none;
    height: 600px;
    width: 700px;
}

footer {
    background-color: yellow;
    float: left;
    clear: none;
    height: 30px;
    width: 900px;
}


/* Add a black background color to the top navigation */

nav {
    background-color: #333;
    overflow: hidden;
    width: 900px;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    position: absolute;
    bottom: 300px
}

/* Style the links inside the navigation bar */

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */

.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */

nav .icon {
    display: none;
}

@media (max-width:420px) {
    nav .icon {
        display: inline-block;
    }
}