* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*********************HOME*************************/

body {
    background-image: url(images/istanbulBackground.jpg);
    /*background-color: #334431;*/
    background-attachment: fixed;
    background-size: 100% auto;
    font-family: 'Caveat Brush';
}

container {
    display: block;
    width: 65%;
    margin: 30px auto 0 auto;
    opacity: 0.9;
}

header {
    background-color: #e6af4b;
    clear: none;
    height: 300px;
    position: relative;
}

.homepage_Logo {
    background-repeat: no-repeat;
}

.titel_header {
    font-size: 100px;
    color: rgba(237, 245, 0, 1);
    font-family: 'Caveat Brush';
    position: absolute;
    top: 19%;
    right: 5%;
}

.fb_SharePage {
    margin-bottom: -2px;
    width: 25px;
    height: 25px;
}

.halal_logo {
    margin-top: 175px;
    margin-left: 850px;
    width: 20px;
    height: 20px;
}

#home_page aside {
    background-color: #334431;
    float: left;
    clear: none;
    height: 800px;
    width: 25%;
}

.openingsuren th td {
    background-color: #e6af4b;
    font-size: 350px;
}

content {
    background-color: #e05038;
    float: left;
    clear: none;
    height: 800px;
    width: 75%;
}

.intro_text {
    text-align: center;
    font-size: 120%;
    font-family: 'Caveat Brush';
    margin-top: 50px;
    color: #334431;
}

#home_page h1,
h2 {
    font-style: italic;
    font-size: 140%;
    color: #e6af4b;
}

/*********************END_HOME*************************/

/*********************CONTACT*************************/

#contact_page content {
    background-color: #e05038;
    float: left;
    clear: none;
    height: 800px;
    width: 100%;
    overflow-y: auto;
}

#contact_page .contact_info {
    text-align: center;
    background-color: #334431;
    color: white;
}

.map {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

#contact_page input[type=text],
input[type=email],
textarea {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 30%;
    resize: vertical;
}

/*********************END_CONTACT*************************/

/*********************PICTURES*************************/

#pictures_page content {
    background-color: #e05038;
    float: left;
    clear: none;
    height: 800px;
    width: 100%;
}

.pictures {
    margin-top: 12px;
}

.food_presentation {
    height: 200px;
    width: 200px;
    background-color: #e6af4b;
    border: 2px solid Black;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;
}

.food_photo {
    height: 150px;
    border-radius: 15px;
}

.photo {
    border-radius: 15px;
}

.food_text span {
    color: #334431;
    font-size: 0.8125em;
    line-height: 1.8em;
    margin-bottom: 10px;
}

/*********************END_PICTURES*************************/

/*********************ORDER*************************/

#order_page content {
    background-color: #334431;
    height: 100%;
    width: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.order_heading {
    font-size: 20px;
    font-style: italic;
    color: #e6af4b;
    margin-left: 20px;
    text-align: center;
}

.order_subheading {
    font-size: 18px;
    font-style: italic;
    color: grey;
    margin-left: 20px;
    text-align: center;
}

form {
    color: white;
    margin-left: 20px;
}

.customer_information {
    width: 85%;
}

#order_page input[type=text],
input[type=email],
input[type=tel],
input[type=number] {
    padding: 4px;
    margin-top: 6px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    display: block;
}

.submit_button {
    background-color: white;
    border-radius: 12px;
    color: black;
    padding: 9px 16px;
    text-align: center;
    display: inline-block;
    font-family: 'Caveat Brush';
    font-weight: bold;
    font-size: 12px;
}

.submit_button:hover {
    background-color: #e6af4b;
}

/*********************END_ORDER*************************/

/*********************MENU*************************/

#menu_page content {
    background-color: #334431;
    float: left;
    clear: none;
    height: 800px;
    width: 100%;
}

.menu_heading {
    font-size: 20px;
    font-style: italic;
    color: #e6af4b;
}

.menu_subheading {
    font-size: 18px;
    font-style: italic;
    color: grey;
}

table {
    color: #e6af4b;
    font-family: 'Caveat Brush';
    float: left;
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
    border: 2px solid #e6af4b;
    border-radius: 15px;
}

.table_titles {
    color: grey;
}

.table_durum {
    margin-top: 19px;
}

/*********************END_MENU*************************/

/*********************FOOTER*************************/

footer {
    background-color: #e6af4b;
    float: left;
    clear: none;
    height: 30px;
    width: 100%;
}

/*********************END_FOOTER*************************/

/*********************NAVBAR*************************/

/* Add a black background color to the top navigation */

nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    float: left;
    padding: 0;
    position: absolute;
    bottom: 0px;
}

/* Style the links inside the navigation bar */

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */

nav .icon {
    display: none;
}

/*********************END_NAVBAR*************************/

/*********************RESPONSIVE_DESIGN*************************/

@media (max-width:640px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    container {
        width: 100%;

    }

    .titel_header {
        display: none;
    }

    content {
        width: 100%;
        height: 100%;
    }

    #home_page aside {
        width: 100%;
        height: 100% !important;
    }

    #home_page image {
        height: 28%;
        width: 87%;
        margin-left: 25px;
        margin-top: 2px;
    }

    #home_page table {
        margin-left: 66px;
        margin-top: -32px;
    }

    .homepage_Logo {
        background-repeat: no-repeat;
        margin-left: 30px;
    }

    #menu_page table {
        margin-left: 40px;
        margin-bottom: 4px;
        border: 2px solid white;
        border-radius: 15px;
    }

    #contact_page input[type=text],
    input[type=email],
    textarea {
        width: 80%;
    }

    #contact_page content {
        overflow: hidden;
    }

    #pictures_page content {
        overflow: auto;
    }
}

/*********************END_RESPONSIVE_DESIGN*************************/
