* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*********************HOME*************************/

body {
    background-image: url(images/istanbulBackground.jpg);
    /*background-color: #334431;*/
    background-attachment: fixed;
    background-size: 100% auto;
    font-family: 'Caveat Brush';
}

container {
    display: block;
    width: 56.250em;
    margin: 30px auto 0 auto;
    opacity: 0.9;
}

header {
    background-color: #e6af4b;
    background-image: url("images/snackTimeLogo.png");
    background-repeat: no-repeat;
    background-size: 210px;
    clear: none;
    height: 12.500em;
    width: 56.250em;
}

.titel_header {
    font-size: 550%;
    color: rgba(237, 245, 0, 1);
    font-family: 'Caveat Brush';
    position: absolute;
    top: 13%;
    right: 27%;
}

.fb_SharePage {
    margin-bottom: -2px;
    width: 25px;
    height: 25px;
}

.halal_logo {
    margin-top: 175px;
    margin-left: 850px;
    width: 20px;
    height: 20px;
}

#home_page aside {
    background-color: #334431;
    float: right;
    clear: none;
    height: 37.500em;
    width: 12.500em;
}

.openingsuren th td {
    background-color: #e6af4b;
    font-size: 94%;
    position: absolute;
    top: 47%;
    text-align: center;
}

content {
    background-color: #e05038;
    float: left;
    clear: none;
    height: 37.500em;
    width: 43.750em;
}

/*********************END_HOME*************************/

/*********************CONTACT*************************/

#contact_page .contact_info {
    text-align: center;
    background-color: #334431;
    color: white;
}

#contact_page content {
    background-color: #e05038;
    float: left;
    clear: none;
    height: 32.750em;
    width: 56.250em;
    margin-bottom: 35px;
}

.map {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

/*********************END_CONTACT*************************/

/*********************PICTURES*************************/

#pictures_page content {
    background-color: #e05038;
    float: left;
    clear: none;
    height: 37.500em;
    width: 56.250em;
    overflow: auto;
}

.pictures {
    margin-top: 50px;
}

.food_presentation {
    height: 200px;
    width: 200px;
    background-color: #e6af4b;
    border: 2px solid Black;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;
}

.food_photo {
    height: 150px;
    border-radius: 15px;
}

.food_text span {
    color: #334431;
    font-size: 0.8125em;
    line-height: 1.8em;
    margin-bottom: 10px;
}

/*********************END_PICTURES*************************/

/*********************ORDER*************************/

#order_page content {
    background-color: #334431;
    height: 37.500em;
    width: 56.250em;
    float: left;
    /**overflow: auto;**/
}

.order_heading {
    font-size: 20px;
    font-style: italic;
    color: #e6af4b;
    margin-top: 50px;
    margin-left: 320px;
}

.order_subheading {
    font-size: 18px;
    font-style: italic;
    color: grey;
    margin-top: -30px;
    margin-left: 330px;
}

form {
    color: white;
    margin-left: 100px;
}

.customer_information {
    float: right;
    margin-top: -178px;
    margin-right: 250px;
}

.radio_buttons {
    float: right;
    margin-top: -192px;
    margin-right: 250px;
}

.submit_button {
    background-color: white;
    border-radius: 12px;
    color: black;
    padding: 9px 16px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

.submit_button:hover {
    background-color: #e6af4b;
}

/*********************END_ORDER*************************/

/*********************MENU*************************/

#menu_page content {
    background-color: #334431;
    float: left;
    clear: none;
    height: 37.500em;
    width: 56.250em;
}

.menu_heading {
    font-size: 20px;
    font-style: italic;
    color: #e6af4b;
    margin-top: 50px;
    margin-left: 320px;
}

.menu_subheading {
    font-size: 18px;
    font-style: italic;
    color: grey;
    margin-top: -30px;
    margin-left: 330px;
}

tbody {
    position: absolute;
    top: 60%;
    color: #e6af4b;
    font-family: 'Caveat Brush';
}

.table_titles {
    color: grey;
}

.table_durum {
    text-align: left;
    width: 234px;
    height: 269px;
    border: 1;
}

td {
    vertical-align: top;
}

.table_frites {
    position: absolute;
    top: 85%;
    text-align: left;
    width: 234px;
    height: 88px;
    border: 1;
}

.table_assiettes {
    position: absolute;
    top: 87%;
    text-align: left;
    width: 233px;
    height: 189px;
    border: 1;
}

.table_viandes {
    text-align: left;
    width: 233px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    border: 1;
}

.table_hamburgers {
    position: absolute;
    top: 108%;
    right: 41.6%;
    text-align: left;
    width: 232px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    border: 1;
}

.table_mitraillettes {
    position: absolute;
    top: 57%;
    right: 20%;
    text-align: left;
    width: 238px;
    height: 32px;
    margin-left: auto;
    margin-right: 0px;
    border: 1;
}

/*********************END_MENU*************************/

/*********************FOOTER*************************/

footer {
    background-color: #e6af4b;
    float: left;
    clear: none;
    height: 1.875em;
    width: 56.250em;
}

/*********************END_FOOTER*************************/

/*********************NAVBAR*************************/

/* Add a black background color to the top navigation */

nav {
    background-color: #333;
    overflow: hidden;
    width: 900px;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    position: absolute;
    bottom: 300px
}

/* Style the links inside the navigation bar */

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */

.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */

nav .icon {
    display: none;
}

/*********************END_NAVBAR*************************/

/*********************RESPONSIVE_DESIGN*************************/

@media (max-width:420px) {
    nav .icon {
        display: inline-block;
    }
}

/*********************END_RESPONSIVE_DESIGN*************************/
